html,body{
    height:100%;
    ;
}

body {
    background-color: gray;
    position:relative;


}
.btn-secondary {
    background-color: transparent;
    border-color: #231feb;
    color: #231feb;
}

footer {
    
    bottom: 0;
   
}