html,body{
    height: auto;
}

body {
    background-color: gray;
    position: relative;
    5
    
   
   
}
/*Set the carousel for 4 images,each of them with it correspondient caption-->*/
.item img { 

    width: 23%;
    height: auto;
 }  
 
