html,body{
    height: auto;
}

body {
    background-color: gray;
    position: relative;
    
   
   
}
/*Set the carousel for 3 images,each of them with it correspondient caption-->*/
.item img { 

height: auto;
 }  
 
