body{
    width: 100%;
    background-color: rgb(167, 163, 163);
    display: flex;
    flex-direction: column;
     
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-attachment: fixed;
    background-size: 40%;
    color: rgb(5, 5, 7);
     

}

.container{
    margin-top: 6em;
}
#headline{
     color: yellow;
}
.container h1{
    background-color: blue;
    color: yellow;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: block;
}
#myCarousel{
    height: 420px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.images{
    border-radius: 10px;
    transition: 0.5s;
}

.images:hover{
    border-radius: 70px;
    
}
.myimage{
    height: 430px;
}
.news p {
    color: yellow;
    font-size: 56px;
    background-color: rgb(23, 23, 109);
    padding: 9.7px;
    border-radius: 20px;
}

p{
    margin-top: 5px;
     
    font-size: 1.2em;
}

.secondnews img{ 
    width: 1200px;
}








/*-------*/
.newsReverse{
    display: flex;
    flex-direction: row-reverse;
}

.textPart{
    background-color: #1107a1;
    color: rgb(218, 191, 40);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blank{
    height: 5em;
    
}
video{
    max-width:100%;
     
}
#leakedParagraph p{
    width: 100%;
}
.bobo video{
 align-items: center;   
}
 

