html,body{
    min-height: 100%;
     position: relative;
    }
  
  body {
    background-color: gray;
    position:relative;
  }
  
  #logo {
      width: 75px;
      height: auto;
      display: block;
      float: left;
    }
  
  #calendar{
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    
  }
  
  #calendar td, #calendar th{
    border:1px solid #ddd;
    padding: 8px;
    width: 20em;
  }
  
  #calendar th{
    background-color: #0061bb;
  }
  
  #calendar td:hover{
    background-color: rgb(132, 151, 201);
    
  }
  
  #match1{
    background-color: rgb(104, 48, 194);
    width: 10em;
  }
  
  #match2{
    background-color: rgb(101, 120, 206);
    width: 10em;
  }
  
  #match3{
    background-color: rgb(31, 214, 175);
    width: 10em;
  }
  
