html,body{
    min-height: 100%;
     position: relative;
    }
  
  body {
    background-color: #fafaff;
    position:relative;
  }
  
  #calendar{
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    
  }

  td
  {
    background-color: #EEF0F2;
  }
  
  
  #calendar td, #calendar th{
    border:1px solid rgb(0, 0, 0);
    padding: 8px;
    width: 20em;
  }
  
  #calendar th{
    background-color: #103f79;
    color: #fabd21;
  }
  
  #calendar td:hover{
    background-color: #7c7c7c;
    
  }
  
  .match1{
    background-color: rgb(255, 236, 131);
    width: 10em;
    
  }
  
  .match2{
    background-color: rgb(196, 205, 255);
    width: 10em;
  }
  
  .match3{
    background-color: rgb(182, 184, 183);
    width: 10em;
  }

  .event{
    background-color: rgb(113, 119, 175);
    width: 10em;
  }

  #seconddiv
  {
    background-color: #fabd21;
  }

  ul
  {
    list-style-type: none;
  }
  

