html,body{
    min-height: 100%;
     position: relative;
    }
  
  body {
    background-color: gray;
    position:relative;
  }
  
  #logo {
      width: 75px;
      height: auto;
      display: block;
      float: left;
    }
  
  #calendar{
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    
  }
  
  #calendar td, #calendar th{
    border:1px solid #ddd;
    padding: 8px;
    width: 20em;
  }
  
  #calendar th{
    background-color: #0061bb;
  }
  
  #calendar td:hover{
    background-color: rgb(4, 31, 105);
    
  }
  
  #match1{
    background-color: rgb(104, 48, 194);
    width: 10em;
  }
  
  #match2{
    background-color: rgb(101, 120, 206);
    width: 10em;
  }
  
  #match3{
    background-color: rgb(31, 214, 175);
    width: 10em;
  }
  
  footer {
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 10px;
    height: 150px;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    background: #333;
  }

  .footer li {
    text-decoration:none;
    list-style:none;
    align-items: center;
    
  }
  .Via-text{
    margin-top: 650px;
    
    
  
  
  }
  .footer li a:link{
   color: red ;
    
   
  
  }
  
  .social a{
    
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 3px;
  }
    
    
  
  .social a:hover{
    background: rgb(225, 225, 233);
    
  }
  .social a .fa{
    color: rgb(0, 0, 0);
    font-size: 3em;
    align-items: center;
  
  }
  
  .footer .footer-bottom{
    background: black;
    color: white;
    height: 20px 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding-top:2px;
    font-style: italic;
  
    }