body{
    background-color: gray;
    width: 100%;
    color: white;
    background-image: url(../images/kicking_ball.png);
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-attachment: fixed;
    background-size: 40%;
        
}

.container
{
    margin-top: 5.5em;
    
}

    
.blank{
    height: 6em;
}

.player{
   display: flex;
   justify-content: center;
   transition: .2s;

}
.player img:hover {
    transform:scale(1.2);
}

.players{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.videoContainer{
    display: flex;
    background-color: rgb(23,23,109);
    flex-direction: row-reverse;
    justify-content: center;
    
    
}
video{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 1.5em;
}


.videoParagraph{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}